<ion-view view-title="Home">
<ion-header-bar class="bar bar-header bar-balanced">
<h1 class="title">Greenzone Laundry</h1>
</ion-header-bar>
<ion-content>
<div class="list list-inset">
  <h2 class="text-center">Welcome</h2>
  <div class="item">
    <h2 class="text-center ion-home" > Greenzone Laundry</h2>
  </div>
  <div class="item item-body">
    <img class="full-image" src="img/logo.png">
    Greenzone Laundry, Jl.Perintis Kemerdekaan KM7 No.20A | 085242122184 | Bersih, Harum dan Rapi
  </div> 
  <div class="row">
    <div class="col"> 
      <a href="#/login" class="button button-block button-balanced button-larged ion-log-in"> Login </a>
    </div> 
    <div class="col"><a href="#/register" class="button button-block button-balanced button-larged ion-android-person-add"> REGISTER</a>
    </div> 
  </div> 
</div>

</ion-content>
</ion-view>